@*Footer*@

<footer class="main-footer dark-mode" style="height:3rem;">
    <strong>Copyright &copy; 2022-20223 <a href="/AdminPanel/Home/Index">Ödev :D</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 1.0.0
    </div>
</footer>